<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
http://www.springframework.org/schema/context  
http://www.springframework.org/schema/context/spring-context-3.0.xsd"> 

<context:component-scan base-package="com.klu.springmvc"></context:component-scan>

<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix" value = "/WEB-INF/jsp/"></property>
	<property name="suffix" value = ".jsp"></property>
</bean>

<bean id="ds" class="org.apache.commons.dbcp.BasicDataSource">
	<property name="driverClassName" value = "com.mysql.jdbc.Driver"></property>
	<property name="url" value = "jdbc:mysql://localhost:3306/s27"></property>
	<property name="username" value="root"></property>
	<property name="password" value="AdvJava9@"></property>
</bean>

<bean id="sf" class = "org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	<property name="dataSource" ref = "ds"></property> 
	
	<property name="mappingResources">  
        <list>  
        <value>student.cfg.xml</value>  
        </list>  
    </property>  
	 
	<property name="hibernateProperties">  
       <props>  
           <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>  
           <prop key="hibernate.hbm2ddl.auto">update</prop>  
           <prop key="hibernate.show_sql">true</prop>  
       </props>  
    </property> 
</bean>

<bean id="template" class="org.springframework.orm.hibernate3.HibernateTemplate">  
   	<property name="sessionFactory" ref="sf"></property>  
</bean> 

<bean id="dao" class = "com.klu.springmvc.DAO">
	<property name="template" ref = "template"></property>
</bean>

</beans>
    